.my-widget-iframe {
    position: fixed;
    bottom: 20px;
    left: 20px;
    width: 254px;
    min-height: 215px;
    border: none;
    z-index: 2147483647;
    border-radius: 8px;
    background-color: transparent;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    transform: translateX(100%);
    opacity: 0;
    transition: transform 0.4s ease, opacity 0.4s ease;
}
